:root {
    --main-color: #7009a0;
    --Home-color: #f5f5f5;
    --second-color: #15161d;
      --second-light-color: #1e1f29;
      --gray-color: #e7e5f1;
      --blue-color :#052d62 ;
      --color-blue1 :#5624d0; 
      --color-gray : #d5d0d039 ;
      --color-gray-text : #6a6f73 ;
      --color-red-hover :#f64343 ;
  
  
      --font-stack-text: 'Udemy Sans', 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
      --font-stack-heading-serif: SuisseWorks, Georgia, Times, 'Times New Roman', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
      --transition-time: 0.3s;
      --box-shadow5: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    } 
    /*start rolls */
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      transition: var(--transition-time);
  }
  
  a {
      text-decoration: none;
      color: inherit;
  }
  ul li {
      list-style: none;
  }
  .clearfix {
      clear: both;
  }
  body {
    font-family: var(--font-stack-heading-serif);
      background-color: #ffffff;;
  } 
  a  {
    color: var(--main-color);
  }
  a:hover {
    color: var(--color-blue1);
  }
  .stars {
    margin: 0;
    color: #f0ad4e;
  }


/* :start   animation */


.stars{
  animation: go-and-back infinite 5s linear both;
}

/* @keyframes go-and-back{
  0%{
    left: 0;
    color: rgb(222, 152, 1);
  }
  
  100%{
    left: calc(100% - 20px);
    
    color: var(--main-color);
  }
  
} */

@keyframes bounce{
    0%{
      transform: translateY(-15px);
    }
    
    70%{
      transform: translateY(15px);
    }
    
    80%{
      transform: translateY(14px);
    }
    
    100%{
      transform: translateY(15px);
    }
  }
  
  @keyframes rotate {
      0% {
          transform: none;
      }
      100% {
          transform: rotate(360deg);
      }
  }
/* end  animation  */