/*start rolls */
:root {
    --color-blue1 :#5624d0; 
    --color-gray : #d5d0d039 ;
    --color-gray-text : #6a6f73 ;
    --color-red-hover :#f64343 ;

    --font-stack-text: 'Udemy Sans', 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-stack-heading-serif: SuisseWorks, Georgia, Times, 'Times New Roman', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
ul li {
    list-style: none;
}

.clearfix {
    clear: both;
}
body {
    font-family: "josefin sans", sans-serif;
    background-color: #fbfaf7;;
}
/* start nav  */
.navbar {
    background-color: #000;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 7px 2px 20px 3px rgba(104, 104, 104, 0.541);
    padding-top: 50px;
    position: relative;
  }
  nav .Admin {
    position: absolute;
    top: 0;
    left: 0;
    
  }
 nav .Admin button {
  color: #fff;
  margin: 10px;
  padding: 5px 10px ;
  background-color: #000;
  border: 1px solid white;
 } 
 nav .Admin button:hover {
  color: var(--color-red-hover);
  border: 1px solid var(--color-red-hover);
 } 
 nav .border-button {
  border: 1px solid white;
  margin: 5px ;
 } 
 nav .border-button:hover {
  border: 1px solid var(--color-red-hover);

 }
  .navbar-brand {
    color: #fff;
  }
  .navbar-brand:hover {
    color: var(--color-red-hover);
  }
  .navbar-toggler {
    background-color: white;
    margin-right: 20px;
  }
  .navbar-toggler-icon {

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .navbar-collapse {
    color: white;
  }
  .navbar-nav .nav-link {
    color: #fff;
    margin: 0 5px;

  }
  
  .navbar-nav .nav-link:hover {
    color: var(--color-red-hover);
  }
  
  nav .dropdown-menu {
    background-color: #333;
    border-color: #333;
  }
  
  nav .dropdown-item {
    color: #fff;
  }
  
  .dropdown-item:hover {
    background-color: #444;
    color: var(--color-red-hover);
  }
   nav .Search input {
    padding: 0 120px;
   }
  nav .dark-mode {
    padding: 0 40px;
    font-size: 25px;
  }