/* <!-- Custom CSS --> */
    body {
        background-color: #6d0666; /* Purple color */
    }
    .form-container {
        background: white;
        padding: 20px;
        margin: 20px;
    }
    .btn-primary {
        background-color: #6d0666; /* Matching purple color */
    }
    .form-group { margin-bottom: 10px; }
    label { display: block; margin-bottom: 5px; }
    input, textarea, select { width: 100%; padding: 8px; }
    button { padding: 10px 20px; margin-top: 10px; }
