/*start rolls */
:root {
    --color-blue1 :#5a108a; 
    --color-blue2 :#a435f0; 
    --text-color-purple:#5624d0;; 
    --color-gray : #d5d0d039 ;
    --color-gray-text : #6a6f73 ;

    --font-stack-text: 'Udemy Sans', 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-stack-heading-serif: SuisseWorks, Georgia, Times, 'Times New Roman', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
ul li {
    list-style: none;
}

.clearfix {
    clear: both;
}
body {
    font-family: "josefin sans", sans-serif;
}
/* end rolls  */
body {
    background-color: #f8f9fb;
}
.login {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08)
}
.card {
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.form-control {
    border-radius: 0.3rem;
}

.btn-login {
    border-radius: 0.3rem;
    background-color: var(--color-blue2);
    border-color: var(--color-blue2);
    color: white;
    transition: 0.25s;
    color: lightyellow;
}

.btn-login:hover {
    background-color: var(--color-blue1);
    border-color: var(--color-blue1);
    color: white;
    font-weight: 550;
}

.text-dark {
    color: var(--text-color-purple) !important;
}
