.navbar {
    background-color: #000;
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ccc;
  }
  
  .dropdown-menu {
    background-color: #333;
    border-color: #333;
  }
  
  .dropdown-item {
    color: #fff;
  }
  
  .dropdown-item:hover {
    background-color: #444;
    color: #fff;
  }